<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blockhtmlv</name>
	<displayName><![CDATA[blockhtmlv]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[TPL z napisem <h3>hello world</h3> który będzie się wczydywał w dowolnym hooku skonfigurowany w panelu admina.]]></description>
	<author><![CDATA[Bartek]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
